<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Vue JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Vue router -->
    <!-- <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script> -->

    <!-- Vuex CDN -->
    <script src="https://unpkg.com/vuex@2.0.0/dist/vuex.js"></script>

    <title>{% block title %}{% endblock %}!</title>
</head>

<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Flash Card App</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create/deck">
                        Create a Deck
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/modify/deck">
                        Modify a Deck
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cards/1/Planets">
                        Modify Cards
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pdf">
                        Export Cards
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-absolute end-0" href="/logout">
                        {% if current_user.is_authenticated %}
                        Hi {{ current_user.email}}!
                        {% endif %}
                    </a>
                </li>
        </div>
    </nav>
    {% block content %}{% endblock %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>